# Предобработка данных

In [41]:
import pandas as pd
import numpy as npm

In [42]:
data = pd.read_csv('../data/data_raw.csv')
df = pd.DataFrame(data)

Обработка пропусков

In [43]:
df['TotalCharges'].replace(' ', None, inplace=True)
df['TotalCharges'] = df['TotalCharges'].astype('float')
df['TotalCharges'].fillna(df['TotalCharges'].median(), inplace=True)

Label Encoding

In [44]:
df['gender'] = df['gender'].map({'Male': 1, 'Female' : 0})
df['Partner'] = df['Partner'].map({'Yes': 1, 'No': 0})
df['Dependents'] = df['Dependents'].map({'Yes': 1, 'No': 0})
df['PaperlessBilling'] = df['PaperlessBilling'].map({'Yes': 1, 'No': 0})
df['PhoneService'] = df['PhoneService'].map({'Yes': 1, 'No': 0})

One-Hot Encoding

In [ ]:
df['HasMultipleLines'] = df['MultipleLines'].map({'Yes': 1, 'No': 0})

df[['HasMultipleLines', 'MultipleLines']]

      HasMultipleLines     MultipleLines
0                  NaN  No phone service
1                  0.0                No
2                  0.0                No
3                  NaN  No phone service
4                  0.0                No
...                ...               ...
7038               1.0               Yes
7039               1.0               Yes
7040               NaN  No phone service
7041               1.0               Yes
7042               0.0                No

[7043 rows x 2 columns]